<h1>Edit Category</h1>

<%= form_with model: @publication_house do |f| %>
<%= f.text_field :name, value: @publication_house.name %>
<%= f.text_field :address, value: @publication_house.address %>
<%= f.text_field :reg_no, value: @publication_house.reg_no %>
<%= f.text_field :phone, value: @publication_house.phone %>
<%= f.submit "Update" %>
<% end %>