<center>
  <button style = "background: grey; border-radius: 20px; font-size: 20px" ><%= link_to "Books list", books_path %></button>
  <button style = "background: #91D184; border-radius: 20px; font-size: 20px" ><%= link_to "categories list", categories_path %></button>
  <button style = "background: #B8F4F6; border-radius: 20px; font-size: 20px" ><%= link_to "author list", authors_path %></button>
  <button style = "background: #BFD184; border-radius: 20px; font-size: 20px" ><%= link_to "Book Sales list", book_sales_path%></button><br><br>
  <h2>
    Publication House<br>
    <%= link_to "Add new Publication House", new_publication_house_path %>
  </h2>
  <table bgcolor="#5CE277" border="2" cellpadding="10" cellspacing="5">
    <tr bgcolor="white">
      <th>Name</th>
      <th>Adderss</th>
      <th>Registration No.</th>
      <th>Phone</th>
      <th colspan="3">Action</th>
    </tr>
    <% @publication_houses.each do |publication_house| %>
      <tr>
        <td><%= publication_house.name %></td>
        <td><%= publication_house.address %></td>
        <td><%= publication_house.reg_no %></td>
        <td><%= publication_house.phone %></td>
        <td><%= link_to "Edit", edit_publication_house_path(publication_house.id) %></td>
        <td><%= link_to "Show", publication_house_path(publication_house.id)%></td>
        <td><%= link_to "Delete", publication_house_path(publication_house.id), method: :delete, data: {confirm: "Are you sure?"} %></td>
      </tr>
    <% end %>
  </table>
</center>