
<h1>Create New Pubication House</h1>
<h2>Fill up the form</h2>
<%= form_with model: @publication_house do |f| %>
  <%= f.text_field :name, placeholder: "Name of Publication House"%>
  <%= f.text_field :address, :placeholder => "Address"%>
  <%= f.text_field :reg_no, :placeholder => "Registration No."%>
  <%= f.text_field :phone, :placeholder => "Phone No."%>
  <%= f.submit "create" %>
<% end %>