<table>
  <tr>
    <td>Name</td>
    <td><%= @publication_house.name %></td>
  </tr>
   <tr>
    <td>Address</td>
    <td><%= @publication_house.address %></td>
  </tr>
   <tr>
    <td>Registration No.</td>
    <td><%= @publication_house.reg_no %></td>
  </tr>
   <tr>
    <td>Phone</td>
    <td><%= @publication_house.phone %></td>
  </tr>

</table>