<%= form_with model: @author do |f| %>
  <% if @author.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@author.errors.count, "error") %> prohibited this author from being saved:</h2>
      <ul>
      <% @author.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.text_field :name, value: @author.name, placeholder: "Name" %>
  <%= f.text_field :address, value: @author.address, placeholder: "Address" %>
  <%= f.text_field :pen_name, value: @author.pen_name, placeholder: "Pen name" %>
  <%= f.datetime_field :dob, value: @author.dob, placeholder: "Date of birth" %>
  <%= f.text_field :phone, value: @author.phone, placeholder: "Phone No." %>
  <%= f.collection_select(:publication_house_id, @publication_houses, :id, :name) %></td>
  <%= f.submit action.to_s.upcase %>
  <%= link_to 'Cancel', authors_path %>
<% end %>