<center>
  <%= link_to "Books list", books_path %>
  <%= link_to "categories list", categories_path %>
  <%= link_to "publication_houses list", publication_houses_path %>
  <%= link_to "Book Sales list", book_sales_path%>
 

  <br><br>
  <h2>Authors</h2>
  <h3><%= link_to "Create New", new_author_path%></h3>


  <table bgcolor="#B8F4F6" border="1" cellpadding="10" cellspacing="5">
    <tr bgcolor="white">
      <th>Name</th>
      <th>Address</th>
      <th>Pen Name</th>
      <th>Date of Birth</th>
      <th>Phone No.</th>
      <th colspan="3">Actions</th>
    </tr>
    <% @authors.each do |author| %>
      <tr>
        <td><%= author.name %></td>
        <td><%= author.address %></td>
        <td><%= author.pen_name %></td>
        <td><%= author.dob %></td>
        <td><%= author.phone %></td>
        <td><%= link_to "Edit", edit_author_path(author.id) %></td>
        <td><%= link_to "Show", author_path(author.id) %></td>
        <td><%= link_to "Delete", author_path(author.id), method: :delete, data: {confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </table>
</center>