<h1>Author</h1>
<h2>Name: <%= @author.name%></h2>
<h2>Address: <%= @author.address%></h2>
<h2>Pen Name: <%= @author.pen_name%></h2>
<h2>Date of Birth: <%= @author.dob%></h2>
<h2>Phone No.: <%= @author.phone%></h2>