<%= form_with model: @book do |f| %>
  <%= f.text_field :name, value: @book.name, placeholder: "Name" %>
  <%= f.datetime_select :publication_date, value: @book.publication_date %>
  <%= f.text_field :price, value: @book.price, placeholder: "Price" %>
  <%= f.collection_select(:author_id, @authors, :id, :name) %>
  <%= f.text_field :description, value: @book.description, placeholder: "Description" %>
  <%= f.collection_select(:category_id, @categories, :id, :cat_name) %>
  
  <%= f.submit action.to_s %>
<% end %>