<center>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  	<%= link_to "Books list", books_path %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-lg-5 btn-dark ">
      <li class="nav-item active mr-5">
        <%= link_to "publication_houses list", publication_houses_path  %> 
      </li>
        <li class="nav-item active mr-5">
					<%= link_to "author list", authors_path %>      
				</li>
        <li class="nav-item active mr-5">
        	<%= link_to "categories list", categories_path %>
      	</li>
        <li class="nav-item active mr-5">
        	<%= link_to "Book Sales list", book_sales_path %>
      	</li>
      
  </div>
</nav>		
	<br>
	<h2>Books</h2>
	<%= link_to "Add New Book", new_book_path %>
	<table border="1" cellpadding="10" cellspacing="5">
		<tr class="bg-dark text-white text-uppercase text-center" >		
			<th>name</th>
			<th>publication</th>
			<th>publication date</th>
			<th>price</th>
			<th>author</th>
			<th>description</th>
			<th>Category</th>
			<th>Actions</th>
		</tr>
		<% @books.each do |book| %>
			<tr>
				<td><%= book.name %></td>
				<td><%= book.publication %></td>
				<td><%= book.publication_date %></td>
				<td><%= book.price %></td>
				<td><%= book.author.name %></td>
				<td><%= book.description %></td>
				<td><%= book&.category&.cat_name %></td>
				<td><%= link_to "Edit", edit_book_path(book.id), :class => "btn-warning" %>
				<%= link_to "Show", book_path(book.id), :class => "btn-info"%>
				<%= link_to "Delete", book_path(book.id), method: :delete, data: {confirm: "Are you sure?"}, :class => "btn-danger" %></td>
			</tr>
		<% end %>
	</table>
</center>

