<h1>Details of book</h1>
<table cellspacing="5" border="2">
  <tr>
    <td>Name</td>
    <td><%= @book.name%></td>
  </tr>
  <tr>
    <td>Publication</td>
    <td><%= @book.publication %></td>
  </tr>
  <tr>
    <td>Publication Date</td>
    <td><%= @book.publication_date%></td>
  </tr>
  <tr>
    <td>Price</td>
    <td><%= @book.price%></td>
  </tr>
  <tr>
    <td>Author</td>
    <td><%= @book.author.name%></td>
  </tr>
  <tr>
    <td>Description</td>
    <td><%= @book.description%></td>
  </tr>
  <tr>
    <td>Category</td>
    <td><%= @book.category.cat_name%></td>
  </tr>
</table>