<center>
  <%= link_to "Books list", books_path, :class => "btn-link" %>
  <button style = "background: #91D184; border-radius: 20px; font-size: 20px" ><%= link_to "categories list", categories_path %></button>
  <button style = "background: #5CE277; border-radius: 20px; font-size: 20px" ><%= link_to "publication_houses list", publication_houses_path %></button>
  <button style = "background: #B8F4F6; border-radius: 20px; font-size: 20px" ><%= link_to "author list", authors_path %></button>
  
  <br><br>
  <h2>Book Sales</h2>
  <%= link_to "Sale books", new_book_sale_path %>
  <table border="2" bgcolor="#BFD184" cellpadding="10" cellspacing="5">
    <tr bgcolor="white">
      <th>Customer Name</th>
      <th>Address</th>
      <th>Book</th>
      <th>Quantity</th>
      <th>Action</th>
    </tr>
    <% @book_sales.each do |book_sale| %>
      <tr>
        <td><%= book_sale.cust_name %></td>
        <td><%= book_sale.cust_address%></td>
        <td><%= book_sale&.book&.name%></td>
        <td><%= book_sale.quantity %></td>
        <td><%= link_to "Show", book_sale_path(book_sale.id) %></td>
    </tr>
    <% end %>
  </table>
</center>