<h1>Sale Books</h1>
<%= form_with model: @book_sale do |f| %>
  <%= f.text_field :cust_name, value: @book_sale.cust_name, placeholder: "Customer Name" %>
  <%= f.text_field :cust_address, value: @book_sale.cust_address, placeholder: "Customer Address" %>
    <%= f.collection_select(:book_id, @books, :id, :name) %>
    <%= f.text_field :quantity, value: @book_sale.quantity, placeholder: "Quantity of sales" %>
    <%= f.submit "Sale Books"%>
  <% end %>