<h1>Book Sale Details</h1>
<table border="5">
  <tr>
    <td>Name of Customer</td>
    <td><%= @book_sale.cust_name%></td>
  </tr>
  <tr>
    <td>Address of customer</td>
    <td><%= @book_sale.cust_address%></td>
  </tr>
  <tr>
    <td>Name of book</td>
    <td><%= @book_sale&.book&.name%></td>
  </tr>
  <tr>
    <td>Quantity of sales</td>
    <td><%= @book_sale.quantity%></td>
  </tr>
</table>