<%= form_with model: @category do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>
      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label :name, 'Category Name' %>
  <%= f.text_field :cat_name, value: @category.cat_name %>
  <%= f.submit action.to_s.upcase %>
  <%= link_to 'Cancel', categories_path %>
<% end %>