<center>
  <button style = "background: grey; border-radius: 20px; font-size: 20px" ><%= link_to "Books list", books_path %></button>
  <button style = "background: #5CE277; border-radius: 20px; font-size: 20px" ><%= link_to "publication_houses list", publication_houses_path %></button>
  <button style = "background: #B8F4F6; border-radius: 20px; font-size: 20px" ><%= link_to "author list", authors_path %></button>
  <button style = "background: #BFD184; border-radius: 20px; font-size: 20px" ><%= link_to "Book Sales list", book_sales_path%></button>
  
  <br><br>
  <h2>
    Category
  </h2>
  <%= link_to "create new category", new_category_path %>

  <table border="2" bgcolor="#91D184" cellpadding="10" cellspacing="5">
    <tr bgcolor="white">
      <th>Name</th>
      <th colspan="3">Action</th>
    </tr>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.cat_name %></td>
        <td><%= link_to "Edit", edit_category_path(category.id)%></td>
        <td><%= link_to "Show", category_path(category.id)%></td>
        <td><%= link_to "Delete", category_path(category.id), method: :delete, data: { confirm: "Are you sure?" }%></td>
      </tr>
    <% end %>
  </table> 
</center>